{% extends 'base.html.twig' %}
{% block title %} Přihlášení - {{ parent() }} {% endblock %}
{% block body %}
    <div class="d-md-flex justify-content-center mx-auto col-lg-7 col-8 bar">
        <div class="link-box col-lg-4 d-grid ">
            <div>
                <img src="{{ asset("assets/images/icons/doctor.png") }}" class="col-12" alt="Přihlášení zaměstnance">
            </div>
            <a class="btn-main" href="{{ path("app_security_employee") }}">
                Přihlášení zaměstnance
            </a>
        </div>
        <div class="link-box offset-md-1 col-lg-4 d-grid ">
            <div>
                <img src="{{ asset("assets/images/icons/doctor.png") }}" class="col-12" alt="Přihlášení zaměstnance">
            </div>
            <a class="btn-main" href="{{ path("app_security_employee") }}">
                Přihlášení zaměstnance
            </a>
        </div>
    </div>
{% endblock %}