{% extends 'base.html.twig' %}

{% block title %}
    Kurz
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            Editace kurzu
                        </h5>
                        <p class="card-text">
                        <form method="POST">
                            <input type="hidden" name="action" value="edit_course"/>

                            <div class="mb-3">
                                <label class="form-label">
                                    Id
                                </label>
                                <input type="text" class="form-control" disabled value="{{ course.id }}"></div>
                            <div class="mb-3">
                                <label class="form-label">
                                    Jméno
                                </label>
                                <input type="text" class="form-control" name="name" value="{{ course.name }}"></div>
                            <div class="mb-3">
                                <label class="form-label">
                                    Klíčová slova
                                </label>
                                <input type="text" class="form-control" name="keywords" value="{{ course.keywords }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">
                                    Specializace
                                </label>
                                <input type="text" class="form-control" name="specialization"
                                       value="{{ course.specialization }}"></div>
                            <div class="mb-3">
                                <label class="form-label">
                                    Zaměření
                                </label>
                                <input type="text" class="form-control" name="focus" value="{{ course.focus }}"></div>

                            <button type="submit" class="btn btn-primary">
                                Uložit
                            </button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Kurzy adoptované u zaměstnavatelů
                        </h5>
                        <p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">
                                    Zaměstnavatel
                                </th>
                                <th scope="col">
                                    Vypsáno termínů
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in emp_course %}
                                <tr>
                                    <td>{{ c.employer.name }}</td>
                                    <td>{{ c.courseAppointments.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
