{% extends 'base.html.twig' %}

{% block title %}Nový zaměstnavatel | {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-lg-6 mx-auto">
        <h3>Nový zaměstnavatel</h3>
        {{ form(form) }}
        <div id="more_info">
            <hr>
            <div>
                <div class="mb-3">
                    <label for="">Název zařízení</label>
                    <input class="form-control" type="text" disabled name="facilityName">
                </div>
                <div class="mb-3">
                    <label for="">Typ zařízení</label>
                    <input class="form-control" type="text" disabled name="facilityType">
                </div>
                <div class="mb-3">
                    <label for="">Obor péče</label>
                    <textarea class="form-control" disabled name="fieldOfCare">
                    </textarea>
                </div>
                <div class="mb-3">
                    <label for="">Forma péče</label>
                    <textarea class="form-control" disabled name="formOfCare">
                    </textarea>
                </div>
                <div class="mb-3">
                    <label for="">IČO</label>
                    <input class="form-control" type="text" disabled name="ico">
                </div>
                <div class="mb-3">
                    <label for="">Telefon</label>
                    <input class="form-control" type="text" disabled name="phoneNumber">
                </div>
                <div class="mb-3">
                    <label for="">Email</label>
                    <input class="form-control" type="text" disabled name="email">
                </div>
                <div class="mb-3">
                    <label for="">Web</label>
                    <input class="form-control" type="text" disabled name="web">
                </div>
                <div class="mb-3">
                    <label for="">Odborný zástupce</label>
                    <input class="form-control" type="text" disabled name="web">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script>
        $(".select-autocomplete select").select2({
            ajax: {
                url: "{{ path('api_employer_search') }}",
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    return {
                        query: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    return {
                        results: data.data,
                        pagination: {
                            more: data.has_more
                        }
                    };
                },
                cache: true
            },
            placeholder: 'Vyhledat organizaci..',
            minimumInputLength: 3,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        function formatRepo(repo) {
            if (repo.loading) {
                return "Načítám...";
            }

            var $container = $(`<div>${getText(repo)}</div>`);

            return $container;
        }

        function formatRepoSelection(repo) {
            if(repo.id.length !== 0){
                fillValues(repo);
            }

            return getText(repo);
        }

        function getText(repo) {
            if (repo.id.length === 0) {
                return repo.text;
            }
            return `${repo.facilityName} (${repo.fieldOfCare})`;
        }

        function fillValues(repo){
            const fields = ['facilityName','facilityType','fieldOfCare','formOfCare','ico','phoneNumber','web','representative'];
            var el = $("#more_info");
            fields.forEach((value)=>{
                el.find(`[name=${value}]`).val(repo[value]);
            })
        }
    </script>
{% endblock %}