{% extends 'base.html.twig' %}

{% block title %} Zaměstnavatelé - {{ parent() }} {% endblock %}

{% block body %}

    <div class="mx-auto col-lg-6 ">
        <div>
            <a href="{{ path("app_admin_employers_add") }}">
                <button class="btn btn-primary">Přidat organizaci</button>
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Název</td>
                <td>Typ zařízení</td>
                <td>Stav</td>
                <td>Počet zaměstnanců</td>
                <td>Více</td>
            </tr>
            </thead>
            <tbody>
            {% for employer in pager %}
                <tr>
                    <td>{{ employer.name }}</td>
                    <td>{{ employer.providerType|u.truncate(32,'...',false)}}</td>
                    {% set state = employer.state-1 %}
                    {% set arr = [
                        ['Nepotvrzeno','bg-warning'],
                        ['Chybí manažer','bg-info'],
                        ['OK','bg-success']
                    ] %}
                    <td class="text-center {{ arr[state][1] }}">
                        {{ arr[state][0] }}
                    </td>
                    <td>{{ employer.employees.count }}</td>
                    <td>
                        <a href="">
                            <button><i class="fas fa-info-circle"></i></button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ pagerfanta(pager) }}
        </div>
    </div>
{% endblock %}