{% extends 'base.html.twig' %}

{% block title %}Přehled kurzů
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div>
                <a href="{{ path('app_courses_adopt') }}">
                    <button class="btn btn-success">Přidat kurz</button>
                </a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% for employer_course in courses %}
            {% set course = employer_course.course %}
            <div class="col col-lg-3 m-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.focus }}</p>
                        {% set keywords = course.keywords|split(',') %}
                        {% for u in keywords %}
                            <span class="badge bg-secondary">{{ u }}</span>
                        {% endfor %}
                        <div class="card-text my-2">
                            <a href="{{ path('app_courses_details', {"id":course.id}) }}" class="btn btn-primary">Otevřít
                                kurz</a>
                            {% if is_granted("EMPLOYEE_IS_MANAGER") %}
                            <form method="POST">
                                <input type="hidden" name="action" value="delete_course"/>
                                <input type="hidden" name="id" value="{{ course.id }}"/>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('post-create_appointment') }}">
                                <input type="Submit" class="btn btn-danger btn-sm my-1" value="Smazat"/>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    </div>
{% endblock %}
