{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Course edit</h5>
    <p class="card-text">
    <form>
    <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" class="form-control" disabled value="{{ course.id }}">    
  </div>
  <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" class="form-control" value="{{ course.name }}">    
  </div>
  <div class="mb-3">
    <label  class="form-label">Keywords</label>
    <input type="text" class="form-control" value="{{ course.keywords }}">    
  </div>
  <div class="mb-3">
    <label  class="form-label">Focus</label>
    <input type="text" class="form-control" value="{{ course.focus }}">    
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </p>
    
  </div>
</div>
</div>
<div class="col-8">
<div class="card" >
    <div class="card-body">
    <h5 class="card-title">Courses assigned to employers</h5>
    <p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employer</th>
                <th scope="col">Available appointemnts starts</th>            
            </tr>
        </thead>
        <tbody>
        {% for c in emp_course %}
            <tr>
                <td>{{ c.employer.name  }}</td>
                {% for d in c.CourseAppointments() %}
                    <td>
                        <a href="{{path('app_courses_one_appointment', {"c_id":course.id, "id":d.id}) }}">{{   d.date|date('Y-m-d  H:i')     }}</a>
                        <small>({{ d.courseRegistrations|length}} / {{ d.capacity  }})</small>
                    </td>
                {% endfor %}                
            </tr>
        {% endfor %}
        </tbody>
     </table>
    </p>
  </div>
</div>
</div>
</div>
{% endblock %}
